body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    background-image: url('../images/game.jpg');
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

.games-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; /* Permettre aux jeux de passer à la ligne si nécessaire */
    gap: 20px; /* Espacement entre les jeux */
}

.game {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game img {
    width: 200px; /* Set a fixed width for all game images */
    height: 200px; /* Set a fixed height for all game images */
    display: block;
    margin: 0 auto 10px;
}

.game button {
    background-color: #192272;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.game button:hover {
    background-color: #45a049;
}

#logout_button {
    background-color: #f44336; /* Red background color */
    color: white; /* White text color */
    border: none; /* No border */
    padding: 10px 30px; /* Padding around the text */
    text-align: center; /* Center text horizontally */
    text-decoration: none; /* No underline */
    display: block; /* Display as block */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor style */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth color transition */
    margin: 20px auto; /* Center horizontally with auto margin */
}


#logout_button:hover {
    background-color: #d32f2f; /* Darker red color on hover */
}